<div>
  <a class="nav-link float-right" routerLink="/logout"><b class="text-primary">LOGOUT</b></a>
</div>
<section id="intro">
  <div class="container">
    <div class="card card-responsive w-50 h-100 bg-light mt-5" >
      <div class="card-body mt-10">
        <div class="text-center">
          <a onclick="location.href='govrequest'"><button class="btn btn-success">To see Request</button></a>&nbsp;&nbsp;&nbsp;
        <a onclick="location.href='govfinal'"><button class="btn btn-danger">To see final Request</button></a>
        </div>
    </div>  
  </div>
</div>
</section>



  <div class="container body-content app-container">
  
    <router-outlet></router-outlet>
  </div>
