
<div class="container mt-5 w-50 card card-shadow shadow p-5 lg-5 bg-light rounded form-back">
  <div class="login-form">
    <form [formGroup]="usersaveform"
      (ngSubmit)="Login()">
      <h2 style="text-align: center;">Login</h2>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" formControlName="userName" placeholder="username" required="required">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="password" class="form-control" formControlName="password" placeholder="Password"
            required="required">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg">Login</button>
      </div>
    </form>
  </div>
</div>
<div class="mx-4">
  <a onclick="location.href='home'"><button class="btn btn-dark">Back To Register</button></a>
</div>